@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: nb;
  src: url(./NBInternationalProBoo.ttf);
}
@font-face {
  font-family: rejoy;
  src: url(./Rejouice-Headline.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "nb";
}
html,
body {
  height: 100%;
  width: 100%;
}
#page1 {
  height: 100vh;
  width: 100%;
  /* background-color: black; */
  background-color: black;
  position: relative;
  user-select: none;
}
#cursor {
  height: 5vw;
  width: 5vw;
  background-color: #ff5f38;
  border-radius: 50%;
  position: fixed;
  z-index: 9;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, -50%);
}
#cursor h5 {
  font-size: 1vw;
  font-weight: bold;
}
#page1 video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}
#page1-content {
  height: 100%;
  width: 100%;
  /* background-color: rgb(0, 0, 0); */
  position: relative;
  z-index: 10;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
#page1-content h3 a {
  text-decoration: none;
  color: white;
  font-family: rejoy;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* background-color: red; */
  padding: 1.5vw 3vw;
}
nav h3 {
  font-size: 1.4vw;
  font-weight: 100;
}
nav h4 {
  font-size: 1.4vw;
  font: 100;
}
#nav-part2 {
  display: flex;
  align-items: center;
  gap: 1vw;
}

#nav-part2 h4 {
  padding: 1vw 1vw;
  border: 1px solid #0000003c;
  border-radius: 50px;
  font-weight: 500;
  color: black;
  transition: all ease 0.4s;
  position: relative;
  font-size: 1.7vw;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

#nav-part2 h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  /* color: black; */
  background-color: white;
  border-color: #000000;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
  bottom: 0;
  border-radius: 0;
}

#nav-part2 h4 a {
  font-family: nb;
  color: white;
  text-decoration: none;
  position: relative;
  z-index: 9;
  font-weight: bold;
}
#nav-part2 #menu {
  border-color: #000000;
  background-color: #ff5f38;
}
#nav-part2 #menu a {
  color: white;
}
#nav-part2 h4:hover a {
  color: black;
}
#nav-part2 #menu:hover a {
  color: black;
}

#page1-content h1 {
  font-family: "rejoy";
  font-size: 26.5vw;
  font-weight: 100;
  line-height: 32vw;
}
#page1-content h1 span {
  display: inline-block;
  font-family: "rejoy";
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 70px;
}

.wave .shape-fill {
  fill: #faf8f3;
}

#page2 {
  height: 110vh;
  width: 100%;
  background-color: #faf8f3;
  position: relative;
  padding: 5vw 2.8vw;
  display: flex;
  flex-direction: column;
}
#page2-top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 1.2vw;
  margin-bottom: 1vw;
  /* border-bottom: 1px solid #00000092; */
}
#page2-top h3 {
  font-size: 1.7vw;
  font-weight: 500;
  width: 26%;
  /* background-color: red; */
}
#page2-top h4 {
  font-size: 1.7vw;
  font-weight: 500;
}
.elem {
  overflow: hidden;
}
.elem h1 {
  font-size: 4.2vw;
  font-weight: 500;
}
.wave-2 {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave-2 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 140px;
}

.wave-2 .shape-fill {
  fill: #faf8f3;
}
#page3 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: black;
  padding: 3vw;
}
#page3-top {
  /* background-color: red; */
  text-align: center;
  padding-bottom: 5vw;
}
#page3-top h4 {
  margin-bottom: 1vw;
  font-size: 1.5vw;
  font-weight: 500;
}
/* 
#page3-top h4 span {
  font-size: 0.65vw;
  background-color: black;
  color: white;
  padding: 4px 10px;
  border-radius: 10px;
} */
#page3-top h2 {
  user-select: none;
  padding-top: 1vw;
  display: inline-block;
  font-size: 5vw;
  font-weight: 570;
  color: white;
  border-bottom: 0.3vw solid white;
}
#page3-top h2:hover {
  filter: contrast(200%);
}
#page3-content {
  width: 100%;
  height: 80vh;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#page3-content #list-parking {
  width: 50%;
  height: 100%;
  background-color: #c0c0c0;
  margin: 1vw 2vw;
  border-radius: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}
#page3-content #list-parking h2 {
  font-size: 5vw;
  color: #000;
  font-family: poppins;
  font-style: oblique;
  border-bottom: 0.5vw solid #000;
}
#page3-content #list-parking #para {
  color: #000;
  font-size: 2.5rem;
}
#page3-content #list-parking #para h3{
  padding: 0.5vw 0vw;
}
#page3-content #list-parking button{
  border-radius: 2vw;
  font-size: 3vw;
  color: white;
  background-color: #486C6E;
  padding: 0.7vw 3vw;
  margin-bottom: 3.4vw;
}


#page3-content #find-parking {
  width: 50%;
  height: 100%;
  background-color: #c0c0c0;
  border-radius: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#find-parking h2{
  font-size: 5vw;
  color: #000;
  font-family: poppins;
  font-style: oblique;
  border-bottom: 0.5vw solid #000;
}
#find-parking h3{
  font-size: 4vw;
  /* margin-bottom:4vw; */
}
#find-parking #options{
  display: flex;
}
#find-parking #options button{
  border-radius: 2vw;
  font-size: 2vw;
  color: white;
  background-color: #486C6E;
  margin: 2vw 0.8vw;
  padding: 0.7vw 3vw;
}
#page4 {
  height: 100vh;
  width: 100%;
  padding: 4vw 0;
  position: relative;
}
#page4 h1 {
  font-size: 10vw;
  font-family: rejoy;
  font-weight: 100;
  border-bottom: 1px solid #000000;
  width: 96%;
  margin-left: 2%;
}
#swiperDiv {
  height: 60vh;
  width: 100%;
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 400px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
#page5 {
  height: 100vh;
  width: 100%;
  background-color: black;
  color: #dadada;
  padding: 3vw 2.8vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#page5 #top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 7vw;
}
#page5 #top #top-left h2 {
  font-family: nb;
  font-weight: 500;
  padding-bottom: 1vw;
}
#page5 #top #top-left button {
  margin-left: 0.2vw;
  font-size: 1vw;
  padding: 0.5vw;
  border-radius: 0.5vw;
  color: white;
  background-color: black;
  border: 0.2vw solid white;
}
#page5 #top #top-left button:hover {
  background-color: white;
  font-weight: bold;
  color: black;
  transition: ease-in-out 0.3s;
}
#page5 #top-right {
  font-size: 1.3vw;
  display: flex;
  flex-direction: column;
  align-items: end;
}
#page5 #top-right h3 {
  padding-bottom: 0.1vw;
  margin: 0.2vw;
}
#page5 #top-right h3 a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding-bottom: 1vw;
}
#page5 #top-right h3:hover {
  border-bottom: 0.2vw solid white;
}
#page5 #center {
  display: flex;
  justify-content: space-between;
  padding-top: 2vw;
}
#page5 #center h3 {
  font-size: 1.3vw;
  /* padding-left: 4vw; */
}
#page5 #bottom {
  display: flex;
  align-items: end;
  justify-content: center;
}
#page5 #bottom h1 {
  font-size: 26vw;
}
#page5 #bottom h1 span {
  user-select: none;
  font-family: rejoy;
}

#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: black;
  z-index: 99;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#loader h3 {
  font-size: 2vw;
  font-weight: 100;
  font-family: rejoy;
  color: transparent;
  background: linear-gradient(to right, orange, orangered);
  -webkit-background-clip: text;
}

